@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600&display=swap');

// VARIABLES

$colors: (
	font: hsl(0, 36%, 70%)
);

// GENERAL BODY

body {
	font-family: 'Josefin Sans', sans-serif;
	margin: 0;
	box-sizing: border-box;
}

// LOGO

.logo {
	margin: 1rem;

	img {
		width: 3rem;
	}
}

// IMAGE

.image-container {

	display: inline-block;
	width: 100%;

	img {
		width: 100%;
		vertical-align: top;
	}
}

// MAIN CONTENT

.text-container {
	h1 {
		color: map-get($colors, font);
		font-weight: 300;
	}
}

// FORM
.form__email--arrow {
	background: red;
}

// *** - REMEMBER TO INCLUDE ERROR SVG ICON - POSSIBLY USE SIMILAR TO FOLLOWING CODE:   input:required:invalid, input:focus:invalid {
//   background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAeVJREFUeNqkU01oE1EQ/mazSTdRmqSxLVSJVKU9RYoHD8WfHr16kh5EFA8eSy6hXrwUPBSKZ6E9V1CU4tGf0DZWDEQrGkhprRDbCvlpavan3ezu+LLSUnADLZnHwHvzmJlvvpkhZkY7IqFNaTuAfPhhP/8Uo87SGSaDsP27hgYM/lUpy6lHdqsAtM+BPfvqKp3ufYKwcgmWCug6oKmrrG3PoaqngWjdd/922hOBs5C/jJA6x7AiUt8VYVUAVQXXShfIqCYRMZO8/N1N+B8H1sOUwivpSUSVCJ2MAjtVwBAIdv+AQkHQqbOgc+fBvorjyQENDcch16/BtkQdAlC4E6jrYHGgGU18Io3gmhzJuwub6/fQJYNi/YBpCifhbDaAPXFvCBVxXbvfbNGFeN8DkjogWAd8DljV3KRutcEAeHMN/HXZ4p9bhncJHCyhNx52R0Kv/XNuQvYBnM+CP7xddXL5KaJw0TMAF8qjnMvegeK/SLHubhpKDKIrJDlvXoMX3y9xcSMZyBQ+tpyk5hzsa2Ns7LGdfWdbL6fZvHn92d7dgROH/730YBLtiZmEdGPkFnhX4kxmjVe2xgPfCtrRd6GHRtEh9zsL8xVe+pwSzj+OtwvletZZ/wLeKD71L+ZeHHWZ/gowABkp7AwwnEjFAAAAAElFTkSuQmCC);
//   background-position: right top;
//   background-repeat: no-repeat;
//   -moz-box-shadow: none;
// }

// FOOTER

.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
