@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600&display=swap');

// VARIABLES

$colors: (
	font: hsl(0, 36%, 70%)
);

// GENERAL BODY

html {
	font-size: 100%;
	height: 100%;
}

body {
	font-family: 'Josefin Sans', sans-serif;
	height: 100%;
	margin: 0;
	box-sizing: border-box;
}

main {
	height: 100%;
}
// LOGO

.logo {
	padding: 1.5rem;

	img {
		width: 33%;
	}
}

// IMAGE

.image-container {

	display: inline-block;
	width: 100%;

	img {
		width: 100%;
		vertical-align: top;
	}
}

// MAIN CONTENT

.background-area {
	background: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
	height: 100vh;
	max-height: 565px;
	position: relative;
}

.text-container {
	h1 {
		color: map-get($colors, font);
		font-size: 2.5rem;
		font-weight: 300;
		letter-spacing: 9px;
		margin: 0;
		padding: 3.75rem 0 0;
		text-transform: uppercase;
		text-align: center;
	}

	h2 {
		font-size: 2.5rem;
		font-weight: 600;
		margin: 0 auto;
		letter-spacing: 6px;
		text-transform: uppercase;
		text-align: center;
		width: 80%;
	}

	p {
		color: map-get($colors, font);
		font-size: 0.875rem;
		line-height: 20px;
		margin: 1.5rem auto 2.5rem;
		text-align: center;
		width: 80%;
	}
}

// FORM

.form__email--container {
	border: thin solid hsla(0, 36%, 70%, 0.507);
	border-radius: 25px;
	display: flex;
	margin: 0 auto 2rem;
	padding-left: 1rem;
	justify-content: space-between;
	text-align-last: justify;
	width: 80%;

	.error {
		background-image: url(images/icon-error.svg);
		background-position: 90%;
		background-repeat: no-repeat;
		margin-right: 1rem;
}

#email-label {
	width: 100%
}

.form__email--text-field {
	background-color: transparent;
	border: none;
	flex-grow: 2;
	font-family: inherit;
	font-size: 0.875rem;
	height: 100%;
	opacity: 0.5;
	width: 100%;
	
	&::placeholder {
		color: map-get($colors, font);
		opacity: 0.7;
	}

	&:focus {
		outline: none;
	}

	&:hover {
		opacity: 1;
	}
	}

}

.form__email--errorMsg {
	bottom: 1rem;
	color: red;
	font-family: inherit;
	font-size: 0.875rem;
	margin: 0 0 0 12%;
	position: relative;
	visibility: hidden;
}

.form__email--arrow {
	background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
	border-radius: 25px;
	padding: 0.8rem 1.5rem;
	vertical-align: top;
	z-index: 2;

	&:hover {
		background: hsl(0, 80%, 86%);
		box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.274);
	}
}

// FOOTER

.attribution {
	font-size: 11px;
	margin-top: 2.5rem;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
