@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600&display=swap');

body {
  font-family: 'Josefin Sans', sans-serif;
}



// FOOTER

.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}